.root {
    padding: 1rem;
}
.content {
    display: grid;
    grid-gap: 3rem 2rem;
    grid-template-columns: repeat(auto-fit, 440px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.anchor {
    display: block;
    line-height: 1rem;
    text-align: center;
    width: 6rem;
}
.imagewrapper {
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 1px;
    box-shadow: 0 0 0 0;
    display: block;
    height: 20pc;
    margin: 0 auto 1rem;
    width: 440px;
}
.image {
    height: 100%;
    opacity: 0;
    width: 100%;
}
.name {
    display: block;
    background-color: #000;
    width: 250px;
    height: 90px;
    margin-top: -98px;
    margin-left: 200px;
    padding-left: 24px;
    padding-top: 19px;
    text-align: left;
    font: normal normal 600 24px/30px Source Serif Pro;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    border-bottom: 0.5rem solid #252bff !important;
}
.title {
    text-align: center;
    padding: 2rem;
}
